{{#if this.isRunning}}
  <i data-test-loading-state>loading</i>
{{else if this.isError}}
  <div data-test-error-state>
    some error
  </div>
{{else}}
  {{#if (or this.content (not this.emptyState))}}
    {{yield this.content}}
  {{else}}
    {{#if (has-block "inverse")}}
      {{yield to="inverse"}}
    {{else}}
      <div data-test-empty-state>
        empty
      </div>
    {{/if}}
  {{/if}}
{{/if}}